* {
  margin: 0;
  padding: 0;
  border: border-box;
}

html,
body {
  height: 100vh;
  background: #81c2ff;
  font-family: 'Balsamiq Sans', sans-serif;
}

.contact-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #fff;
  width: 70%;
  padding: 30px 90px 90px 90px;
  // border: 6px solid rgba(0, 0, 0, 0.3);
  // box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50px;
  position: absolute;
  top: 50%;
}

.card-flap {
  transform: rotateX(180deg);
  z-index: 0;
}
